body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #f0f0f0;
    margin: 1em;
    padding: 0;
}

h1 {
    color: #00254d;
    font: bold 1.6em Verdana, Tahoma, sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    color: #00254d;
    font: bold 1.3em Verdana, Tahoma, sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    color: #000000;
    font: bold 1.1em Verdana, Tahoma, sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

form {
    margin: 2em;
}

label {
    display: block;
    margin-top: 1em;
}

.two-columns {
    display: grid;
    grid-template-columns: 20em 20em;
    grid-gap: 1em;
    align-items: center;
    margin-left: 2em;
}

.suggestions {
    border: 0.063em solid #ccc;
    max-height: 9.375em;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: 100%;
}

.suggestion-item {
    padding: 0.5em;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #0056b3;
}