<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Säähavaintojärjestelmä</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const errorMessage = "{{ get_flashed_messages(category_filter=['error'])[0] if get_flashed_messages(category_filter=['error']) else '' }}";
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
</head>
<body>
    <h1>Tervetuloa säähavaintojärjestelmän etusivulle!</h1>
    <a href="/login" class="button-blue">Kirjaudu sisään</a>
    <a href="/create_account" class="button-blue">Luo käyttäjätunnus</a>
</body>
</html>