<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <div class="container">
        <h2>Kirjaudu sisään</h2>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Salasana:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Kirjaudu sisään" class="button-green">
        </form>
        <p>Eikö sinulla ole tiliä?</p>
        <a href="/create_account" class="button-blue">Luo tili</a>
    </div>
</body>
</html>